#startsida {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 40% 40%;
    grid-template-areas: 
    'na hd fi'
    '. sc2 as1'
    'as2 sc1 .'
    ;
    row-gap: 15px;
}


header {
    grid-area: hd;
    text-align: center;
    background-color:  #3498db;
    
}

#filler {
    grid-area: fi;
    background-color:  #3498db;
}

nav {
    grid-area: na;
    background-color:  #3498db;
}

#sc1 {
    grid-area: sc1;
}

#sc2 {
    grid-area: sc2;
    justify-self: center;
}

#as1 {
    grid-area: as1;
}

#as2 {
    grid-area: as2;
}

footer {
    grid-area: ft;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#berg {
    width: 90%;
}

#by {
    width: 95%;
}

h2 {
    text-align: center;
}

/*------------------------------------------------------------------------*/

#omkring {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 15% 33% 33% 33%;
    grid-area:
    'na hd fi'
    's1 s1 s1'
    's2 s2 s2'
    's3 s3 s3'
    ;
    
}

#section1 {
    grid-area: s1;
    background-color: red;
}

#section2 {
    grid-area: s2;
    background-color: blue;
}

#section3 {
    grid-area: s3;
    background-color: violet;
}

