
/* för alla 3 sidor */

* {
    box-sizing: border-box  ;
}
body {
    background-color: #09588c;
}

h1 {
    font-size: 40px;
}
h2 {
    margin-top: 15px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 28px;
}

p {
    color: black;
    text-align: left;
    font-size: 18px;
}

section {
    border-radius: 30px;
    border: 10px solid;
    border-color:#1c4a69;
    background-color: #3498db;
    padding: 10px;
    contain: content;
}

img {
    display: flex;
    justify-self: center; 
}

/*-----------------------------------------------------------------------------------------*/

/* Startsidan */

#startsida {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 140px 40% 40%;
    grid-template-areas: 
    'tpp tpp tpp'
    '. sc2 as1'
    'as2 sc1 .'
    ;
    row-gap: 15px;
}

#toppind {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'na hd fi'
    ;
    grid-area: tpp;
    border-radius: 30px;
    border: 10px solid;
    border-color:#1c4a69;
    background-color: #3498db;
    padding: 5px;
}


header {
    grid-area: hd;
    align-self: center;
    text-align: center;
}

#filler {
    grid-area: fi;
}

nav {
    grid-area: na;
}

#sc1 {
    grid-area: sc1;
}

#sc2 {
    grid-area: sc2;
    justify-self: center;
    padding: 0;
}

#as1 {
    grid-area: as1;
}

#as2 {
    grid-area: as2;
}

.imgind {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#berg {
    width: 90%;
}

#by {
    width: 95%;
}

/*-------------------------------------------------------------------------------------------------*/

/* Sidan som innehåller de anställda */

#omkring {
    display: grid;
    grid-template-columns: 33% 33% 32%;
    grid-template-rows: 140px auto auto auto;
    grid-template-areas:
    'tp tp tp'
    's1 s2 s3'
    's4 s5 s6'
    'ft ft ft'
    ;
    gap: 15px;
    
}

#toppans {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'naa hda fia'
    ;
    grid-area: tp;
    border-radius: 30px;
    border: 10px solid;
    border-color:#1c4a69;
    background-color: #3498db;
    padding: 5px;
    
}

#headanstallda {
    grid-area: hda;
}

#filler2 {
    grid-area: fia;
}

#navanstallda {
    grid-area: naa;
}

#section1 {
    grid-area: s1;
}

#section2 {
    grid-area: s2;
}

#section3 {
    grid-area: s3;
}

#section4 {
    grid-area: s4;
}

#section5 {
    grid-area: s5;
}

#section6 {
    grid-area: s6;
}

#section7 {
    grid-area: s7;
}

#section8 {
    grid-area: s8;
}

#section9{
    grid-area: s9; 
}

footer {
    grid-area: ft;
    background-color:#3498db;
    border-radius: 30px;
    border: 10px solid;
    border-color: #1c4a69;
    max-height: 5rem;
}



#foot {
    text-align: center;
}

.imgans {
    margin-top: 1rem;
    height: 50%;
    border-radius: 20px;
    max-height: 30rem;
    max-width: 20rem;
}

/*--------------------------------------------------------------------------------------------------*/

/* Sidan med alla anställda */
#resewrap {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 140px 25% 25% 25%;
    grid-template-areas: 
    'top top top'
    'sec1 sec2 sec3'
    'sec4 sec5 sec6'
    'sec7 sec8 sec9'
    ;
    gap: 15px;
}

#toppres {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'nav head fil'
    ;
    grid-area: top;
    border-radius: 30px;
    border: 10px solid;
    border-color:#1c4a69;
    background-color: #3498db;
    padding: 5px;
}

#headresor {
    grid-area: head;
}

#filler3 {
    grid-area: fil;
}

#navresor {
    grid-area: nav;
}

#sec1 {
    grid-area: sec1;
}

#sec2 {
    grid-area: sec2;
}

#sec3 {
    grid-area: sec3;
}

#sec4 {
    grid-area: sec4;
}

#sec5 {
    grid-area: sec5;
}

#sec6 {
    grid-area: sec6;
}

#sec7 {
    grid-area: sec7;
}

#sec8 {
    grid-area: sec8;
}
#sec9 {
    grid-area: sec9;
}